@import 'vars';
@import 'global';
@import 'fonts';

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 91px;
  align-items: center;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.header__logo{
  margin: auto 0;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  color: $text;

  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.header__login {
  background-color: $green;
}

.header__register {
  background-color: $red;
  margin-left: 7px;
}


.header__menu {
  background-color: $main;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;

}

.menu__list {
  li {
    display: inline-block;

    &+li {
      margin-left: 30px;
    }
  }
  a{
    color: #fff;
  }
}

.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
}
.search__inner{
  padding: 150px 0 100px;
  color: #fff;
  text-align: center;
  &-title{
    font-size: 48px;
    line-height: initial;
    padding-bottom: 25px;
    font-weight: 700;
  }
  &-text{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      outline: none;
      padding-left: 25px;
      padding-right: 60px;
      letter-spacing: 0.1em;
      line-height: 30px;
      &:focus{
        border: 1px solid $green;
      }
      &::placeholder{
        color: #90a4ae;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
      cursor: pointer;
    }
  }
}
