@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 91px;
  align-items: center;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.header__logo{
  margin: auto 0;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  color: $text;

  span {
    color: $red;
  }
}
.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.header__login {
  background-color: $green;
}
.header__register {
  background-color: $red;
  margin-left: 7px;
}
.header__menu {
  background-color: $main;
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list {
  li {
    display: inline-block;

    &+li {
      margin-left: 30px;
    }
  }
  a{
    color: #fff;
  }
}

// end header

// start search box

.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
}
.search__inner{
  padding: 150px 0 100px;
  color: #fff;
  text-align: center;
  &-title{
    font-size: 48px;
    line-height: initial;
    padding-bottom: 25px;
    font-weight: 700;
  }
  &-text{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      outline: none;
      padding-left: 25px;
      padding-right: 60px;
      letter-spacing: 0.1em;
      line-height: 30px;
      &:focus{
        border: 1px solid $green;
      }
      &::placeholder{
        color: #90a4ae;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
      cursor: pointer;
    }
  }
}
// end search box

// start products section
.products{
  padding: 100px 0 110px;
  background-color: $gray;
}
.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 12px 20px;
    border: none;
    background-color: #fff;
    color: $main;
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}
.products__inner-box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product__item{
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
    background-size: cover;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 90px;
    border-bottom: 1px solid rgba(205, 214, 222, 0.75);
  }
  &-name{
    max-width: 310px;
    display: block;
  }
  &-title{
    font-size: 18px;
    display: block;
    padding: 22px 0 12px;
  }
  &-category{
    color: $green;
  }
  &-price{
    font-weight: 700;
    font-size: 20px;
    padding: 22px 0 12px;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author{
    display: flex;
    align-items: center;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span{
      font-size: 14px;
      max-width: 230px;
    }
  }
  &-star{
    font-size: 12px;
    span{
      color:$description;
    }
  }
}
.products__bottom-btn{
  text-align: center;
  button{
    margin: 49px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 35px;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}

// end products section

// start product slider

.product__slider{
  padding: 110px 0 120px;
  .slick-track{
    
  }
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      button{
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        box-shadow: inset 0px 1px 1px 0px rgba(177, 177, 177, 1);
        border: none;
        font-size: 0;
        height: 16px;
        width: 16px;
        cursor: pointer;
        outline: none;
      }
    }
    .slick-active button{
      background-color: $green;
    }
  }
}

// end product slider

// start advantages
.advantages{
  background-color: $main;
  color: $description;
  padding: 110px 0 100px;
  .title{
    color: #fff;
    margin-bottom: 60px;
  }
}
.advantages__inner{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  max-width: 340px;
  text-align: center;
  &:hover{
    .advantages__item-images{
      background-color: $green;
      transition: all .5s;
      g{
        fill: rgb(255, 255, 255);
        transition: all .5s;
      }
    }
    .advantages__item-title{
      color: $green;
      transition: all .5s;
    }
  }
  &-images{
    background-color: #fff;
    border-radius: 50%;
    height: 115px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &-title{
    font-size: 24px;
    line-height: 60px;
    color: #fff;
  }
  &-text{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
}
.icosvg-1{
  svg{
    width: 50px;
  }
}

.icosvg-2{
  svg{
    width: 71px;
  }
}

.icosvg-3{
  svg{
    width: 85px;
  }
}

// end advantages